<div class="vendorDetailsModal">

  <div class="modal-header">
    <h5 class="modal-title">
      My Profile
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form>
    <div class="modal-body" style="padding:50px">
      <div class="form-group">
        <label for="usernameInput">Username</label>
        <input #usernameInput type="text" class="form-control" id="usernameInput" [value]="username" required>
      </div>

      <label for="savingsInput">Total Savings</label>
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">R</span>
        </div>
        <input #savingsInput type="number" class="form-control" id="savingsInput" [value]="totalSavings"
               required>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="submitUserDetailsEdit(usernameInput.value, savingsInput.value)">Submit</button>
      <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Close
      </button>
    </div>

  </form>
</div>
