<div class="vendorDetailsModal">

  <div class="modal-header">
    <h5 class="modal-title">
      New Goal
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form>
    <div class="modal-body" style="padding:50px">

      <label for="goalNameInput"></label>
      <div class="input-group">
        <input #goalNameInput type="text" class="form-control" id="goalNameInput"
               placeholder="Goal Name" required>
      </div>

      <label for="contributionInput"></label>
      <div class="input-group flex-nowrap">
        <input #contributionInput type="number" class="form-control" id="contributionInput" placeholder="Contribution"
               required>
        <div class="input-group-append">
          <span class="input-group-text" id="addon-wrapping1">%</span>
        </div>
      </div>

      <label for="goalAmountInput"></label>
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping2">R</span>
        </div>
        <input #goalAmountInput type="number" class="form-control" id="goalAmountInput"
               placeholder="Goal Amount" onkeypress="return event.charCode >= 48" min="1">
      </div>

      <label for="dueDateInput"></label>
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping3">Due Date</span>
        </div>
        <input #dueDateInput type="date" class="form-control" id="dueDateInput"
               placeholder="dd-mm-yyyy" required>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
              (click)="submitNewGoal(goalNameInput.value, contributionInput.value, dueDateInput.value, goalAmountInput.value)">
        Submit
      </button>
      <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Close
      </button>
    </div>

  </form>
</div>
