<div class="goals-list">

  <div *ngIf="goalsList == null || goalsList.length == 0" class="list-group-item" style="padding-top: 20px">
    <h5 class="mb-1" style="color:gray">No Goals Yet. Click "Add Goal" to Start!</h5>
  </div>

  <ul class="list-group">
    <li *ngFor="let goal of goalsList" class="list-group-item">

      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{goal.name}}</h5>
        <small>Contribution: {{goal.contributionPercentage}}%</small>
      </div>

      <p class="mb-1" *ngIf="goal.isGoalDueDatePresent()">Due: {{goal.getGoalDateString()}}</p>

      <div class="d-flex w-100 justify-content-between">

        <small
          *ngIf="goal.isGoalAmountPresent()">R {{calculateAmountSaved(goal.contributionPercentage, totalSavings)}}</small>
        <p *ngIf="!goal.isGoalAmountPresent()">R {{calculateAmountSaved(goal.contributionPercentage, totalSavings)}}</p>
        <small *ngIf="goal.isGoalAmountPresent()">R {{goal.goalAmount}}</small>
      </div>

      <p *ngIf="goal.isGoalAmountPresent()">
        <ngb-progressbar type="info"
                         [value]="this.calculateGoalProgress(goal.goalAmount, goal.contributionPercentage, totalSavings)"></ngb-progressbar>
      </p>

      <div class="btn-group" role="group" aria-label="Goal Options">
        <button type="button" class="btn btn-light" (click)="openEditGoalModal(goal)">
          <bi name="pencil"></bi>
        </button>
        <button type="button" class="btn btn-light" (click)="openConfirmDeleteGoalModal(goal.name)">
          <bi name="trash"></bi>
        </button>
      </div>

    </li>
  </ul>

</div>
